body{
    background-color: rgb(162, 212, 255);
}

.calculator-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
}

.calculator-rows{
    display: flex;
    justify-content: end;
    align-items: center;
}

.result-container{
    position: relative;
    height: 150px;
    background-color: #282450;
    border-radius: 15px 15px 0px 0px;
    
}
.result{
    font-size: 55px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 8px ;
    color: white;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.number,
.operators{
    color: rgb(56, 56, 56);
    border-style: solid;
    border-width: 1px 1px 0px 0px;
    font-size: 28px;
    height: 85px;
    width: 85px;
    padding: 25px;
    vertical-align: middle;
    border-style: solid;
    cursor: pointer;
}

.number{
    background-color: rgb(235, 235, 235);
    border-style: solid;
    border-color: rgb(175, 175, 175);
    
    

}

.operators{
    background-color: #f8ab6b;
    
    border-color: rgb(175, 175, 175);
}

.equal-sign{
    background-color: #ff8019;
}

.clear-button,
.zero-button{
    width: 170px;
}

.clear-button,
.remainder-button{
    background-color: rgb(211, 211, 211);
}


